@use '../common/variables.scss';
@use '../common/mixins.scss';

.button {
    @include mixins.primary-font;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    border: none;
    background-color: unset;
    padding: 0;
    cursor: pointer;

    &--primary {
        color: variables.$bg-color;
        background-color: variables.$secondary-color;
        border-radius: 8px;
        padding: 12px;
    }
}
