.password-change {
    padding: 60px 0 0;
}

.password-change__container {
    width: 510px;
}


.password-change__avatar {
    margin: 0 auto 97px;
}

.password-change__button {
    margin: 122px auto 0;
    display: block;
    width: 280px;
}
