.profile {
    padding: 60px 0 0;
}

.profile__container {
    width: 510px;
}

.profile__image-wrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 21px;
    position: relative;

    &:hover {
        & .profile__image-button {
            opacity: .5;
        }
    }
}

.profile__image-button {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .5s;
}

.profile__name {
    font-family: "Inter-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 0 0 60px;
}

.profile__form {}

.profile__field {
    margin: 0;
    padding: 0;
    border: unset;
}

.profile__list {
    margin: 0 0 40px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__item {
    &:not(:last-of-type) {
        border-bottom: 1px solid #EAEAEA;
    }
}

.profile__label {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
}

.profile__subtitle {
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
}

.profile__input {
    border: none;
    outline: none;
    padding: 0;
    text-align: right;
    width: calc(100% - 100px);

    &::placeholder {
        color: #999999;
    }
}

.profile__buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.profile__buttons-item {

    padding: 10px 0 10px;

    &:not(:last-of-type) {
        border-bottom: 1px solid #EAEAEA;
    }
}

.profile__button {
    color: #3369F3;

    &--color {
        color: #FF0000;
    }
}