// $primary-color: #EFEFEF;
// $secondary-color: #3369F3;
// $primary-text-color: #1E1E1E;
// $secondary-text-color: #999999;
// $bg-color: #FFFFFF;


$primary-color: #000000;
$secondary-color: #3369F3;
$primary-text-color: #787676;
$secondary-text-color: #999999;
$bg-color: #000000;
